.maineditor {
    margin: 1em !important;
    display: flex;
    max-width: unset !important;
    width: calc(100% - 2em) !important;
}

.maineditor *{
    margin: 0 0.25em;
    width: 50%;
    height: calc(100vh - 10em);
}

.maineditor div textarea {
    resize: none;
    width: 100%;
    height: 100%;
}